body{
	background: #fff;
}
#all-func{
	margin-top: 50px;
	overflow: hidden;
	background: #fff;
}
.shopping-logo{
	width: 127px;
	float: left;
}
.shopping-logo a{
	color: #444444;
	text-decoration: none;
}
.shopping-title{
	font-size: 22px;
	line-height: 60px;
	float: left;
	margin-left: 10px;
}
.shopping-top{
	clear: both;
}
.search-kuang{
	width: 325px;
	height: 28px;
	line-height: 28px;
	border: 2px solid #459D36;
	float: right;
	margin-top: 20px;
	overflow: hidden;
	background: #fff;
}
.search-text{
	width: 260px;
	height: 28px;
	padding: 0 5px;
	float: left;
	background: #fff;
	border: 0;
}
.schlink{
	width: 50px;
	display: block;
	background: #459D36;
	color: #fff;
	float: right;
	text-align: center;
}
.schlink:hover{
	color: #fff;
}
.menu-content{
	position: relative;
	border-bottom: 2px solid #DDDDDD;
}
.menu-content ul{
	padding-bottom: 10px;
	clear: both;
	overflow: hidden;
}
.menu-content ul li{
	float: left;
}
.menu-content ul li a{
	font-size: 16px;
	padding:0 30px;
	position: relative;
	border-right:1px solid #e8e8e8;
}
.menu-content ul li a em{
	margin-left: 5px;
	color: #FF6600;
	font-size: 16px;
}
.btom-move{
	width: 122px;
	height: 6px;
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	overflow: hidden;
	border-bottom: 2px solid #ff6000;
}
.arrow{
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 1px;
	text-align: center;
}
.arrow i{
	border-color: transparent transparent #FF6000;
	border-width: 5px;
	border-style: dotted solid solid;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 50%;
	top: -8px;
}

table{
	border-collapse:collapse;
	empty-cells:show;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.pt30{
	padding-top:30px;
}
.pb10{
	padding-bottom:10px;
}
.pl10{
	padding-left:10px;
}
.fl {
    float: left;
}
.mt5 {
    margin-top: 5px;
}
.cart-table span {
    border-radius: 3px;
    padding: 3px 6px 3px 23px;
}
.epetfh {
    background: url(../img/fh-ico.png) no-repeat 0 -55px #6acd34;
}
.ml5 {
    margin-left: 5px;
}
.cfff {
    color: #fff;
}
.cart-tc {
    position: absolute;
    left: -75px;
    top: 24px;
    width: 253px;
    border: 1px solid #e5e2e8;
    box-shadow: 0px 1px 8px #e6e6e6;
    padding: 15px 10px;
    display: none;
    z-index: 2;
}
.cart-tc em {
    top: -16px;
    left: 73px;
    border-style: dotted solid solid solid;
    border-color: transparent transparent #ccc transparent;
}
.cart-tc em, .cart-tc i {
    position: absolute;
    border-width: 8px;
    font-size: 0;
    line-height: 0;
}

.cart-tc i {
    top: -15px;
    left: 73px;
    border-style: dotted solid solid solid;
    border-color: transparent transparent #fff transparent;
}
.c333 {
    color: #333;
}
.ft12 {
    font-size: 12px;
}

.cart-table .baoyou-tip span {
    padding: 3px 8px;
    color: #ff6000;
    border: 1px dotted #ff6000;
    margin-right: 3px;
}
a:link, a:visited {
    outline: none;
}
.cf60 {
    color: #FF6600;
}
.text {
    line-height: 22px;
    height: 22px;
    padding: 0 0 0 2px;
}
.cart-order {
    border: 1px solid #ccc;
}
.cart-order td {
    padding: 10px;
    background: #fcfcfc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.cart-order .por-img {
    width: 87px;
    height: 87px;
    border: 1px solid #e8e8e8;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.cart-order .por-img a {
    display: table-cell;
    vertical-align: middle;
    width: 87px;
    height: 87px;
}
.cart-order .por-intro {
    width: 310px;
}
.cblue {
    color: blue;
}
.buynum-wrap span {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
.buynum-wrap .text {
    padding: 0;
    margin: 0 2px;
    border: 0;
    border-right: 1px solid #cacbcb;
    border-left: 1px solid #cacbcb;
    width: 43px;
}
.buynum-wrap span {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    cursor: pointer;
    outline: none;
}
.mtneg10 {
    margin-top: -10px;
}
.c666 {
    color: #666;
}
.go-buy {
    background: #f5f5f5;
    border: 1px solid #b1b1b1;
    padding: 3px 10px;
    border-radius: 3px;
}
.hide {
    display: none;
}
.go-buy {
    margin: 23px 0 0 0;
    width: 130px;
    height: 39px;
    text-align: center;
    text-indent: 2em;
}
.auto-buy {
    background: #effaed;
    border: 1px solid #b3d6ad;
    color: #288519;
    padding: 3px 10px;
    border-radius: 3px;
}
.cred {
    color: #FF0000;
}
.cart-tip {
     background: url(../img/warm.jpg) no-repeat;
    padding-left: 20px;
}
.mt5 {
    margin-top: 5px;
}
.num{
	text-align: center;
}

.mtneg10 {
    margin-top: -10px;
}
.fcolor {
    color: #ff6000;
}
.wangu{
	float: left;
	margin-top: 10px;
	margin-right: 50px;
	margin-left: 15px;
	text-align: center;
}
.bol{
	font-weight: bold;
	font-size: 18px;
}
.cart-price{
	float: right;
}
.cart-price strong {
    color: #e61212;
}
.ft18 {
    font-size: 18px;
}
strong, b {
    font-weight: bold;
}
.go-balance {
    width: 213px;
    display: inline-block;
    background: #b1b1b1;
    border-radius: 5px;
}
.ftc {
    text-align: center;
}
.balance {
    height: 62px;
    line-height: 62px;
    background: #f5f5f5;
}
.baoyou-tip span {
    padding: 3px 8px;
    color: #ff6000;
    border: 1px dotted #ff6000;
    margin-right: 3px;
    border-radius: 3px;
}
.nogoods{
	margin: 0 auto;
	text-align: center;
}
.nocont{
	display: inline-block;
	background: url(../img/car.png) no-repeat;
	padding-left: 150px;
	padding-top: 30px;
	margin: 100px 0;
	
}
.nocont h1{
	color: #999999;
	font-size: 30px;
	text-align: center;
}
.go-btn{
	text-align: left;
	margin-top: 5px;
}
.go-btn a{
	background: #4bad07;
	border: 1px solid #55a71e;
	border-radius: 3px;
	line-height: 35px;
	padding-right: 20px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.go-btn a span{
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	color: #fff;
	background: url(../img/newbtn.png) no-repeat 0 -355px;
	padding-left: 20px;
	float: left;
}





































































































































































































