
.fixed-wrap{ 
	position: fixed;
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	background: #000; 
	opacity: .6; 
	filter: alpha(opacity=60); 
	z-index: 5002; 
}
.add-address{ 
	position: fixed; 
	width: 715px; 
	height: 480px; 
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	margin: auto; 
	background: #fff; 
	z-index: 5003;
}
.add-address h2{ 
	height: 52px; 
	line-height: 52px; 
	border-bottom: 1px solid #eee;
	text-indent: 25px; 
	margin-bottom: 30px;
}
.form-group{ 
	padding: 8px 0 8px 70px; 
	height: 40px; 
	line-height: 40px;
}
.form-group input[type=text]{ 
	height: 38px; 
	border: 1px solid #ddd; 
	margin-left: 3px; 
	text-indent: 4px;
	line-height:34px;
}
.form-group select{  
	margin-right: 5px;
	padding:9px 0;
	border: 1px solid #ddd; 
	min-width: 80px; 
	max-width: 100px; 
}
.form-group span,.form-group label{ 
	display: inline-block; 
	width: 100px; 
	text-align: right; 
	margin-right: 18px; 
	vertical-align: 2px;
	}
.form-group span em{
	color: #f00;
}
.form-group p{ 
	padding-left: 100px;
}
.form-group input[type=checkbox]{ 
	margin-left: 122px;
}
.u-name{ 
	width: 150px;
}
.u-address{ 
	width: 403px;
}
.u-phone{ 
	width: 255px;
}
.form-submit{ 
	width: 144px; 
	height: 40px; 
	background: #33cb98; 
	border-radius: 3px; 
	display: inline-block; 
	line-height: 40px; 
	text-align: center; 
	font-size: 18px; 
	color: #fff; 
	margin-left: 192px; 
	outline: none;
}
a.form-submit:hover{ 
	color: #fff;
}
.win-close{ 
	position: absolute; 
	width: 34px; 
	height: 34px; 
	background: url(http://static.gutou.com/www/close-ico-btn.png); 
	top: 10px; 
	right: 10px; 
	background-position: 0px -35px;
}
.win-close:hover { 
	background-position: 0px 0px; 
}
.address-needCard .form-group{
	height:35px; 
	line-height: 35px;
}
.address-needCard .form-group input[type=text]{ 
	height: 33px; 
}
.address-needCard h2{
	margin-bottom: 25px;
}
.address-needCard .h60{
	height: 60px;
}
.noRightName h2{
	margin-bottom: 10px;
}
.sfz-img{
	border:1px solid #dfdfdf;
	width:95px;
	height:95px;
	float:left;
	margin-right:10px;
	background:url(http://static.gutou.com/www/cart/click-up1.jpg) no-repeat;
	overflow:hidden;
}
.sfz-img img{
	width:100%;
	height:100%;
	overflow:hidden;
}
.sfz-img #uploadImage,.sfz-img #zuploadImage{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
	height:95px;
	width:95px;
	cursor:pointer;
}
.sfz-cimg{
	position:absolute;
	top:0;l
	left:0;
	display:block;
	z-index:9999;
}
.sfz-cimg em{
	color:#fff;
	position:absolute;
	top:-3px;
	right:-3px;
	font-size:20px;
	cursor:pointer;
}
.sfz-cimg p{
	background:#000;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	position:absolute;
	top:0px;
	right:0px;
	width:95px;
	height:95px;
}
.sfz-cimg a{
	color:#fff;
	width:95px;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}
.zsfz-img{
	border:1px solid #dfdfdf;
	width:95px;
	height:95px;
	float:left;
	margin-right:10px;
	background:url(http://static.gutou.com/www/cart/click-up2.jpg) no-repeat;
	overflow:hidden;
}
.zsfz-img img{
	width:100%;
	height:100%;
	overflow:hidden;
}
.zsfz-img #uploadImage,.zsfz-img #zuploadImage{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
	height:95px;
	width:95px;
	cursor:pointer;
}
.form-con{
	width:527px;
}
.update-idcard{
	display:none;
} 
.order-count{
	overflow: hidden;
	margin-bottom: 20px;
}
.order-top{
	overflow: hidden;
}
.order-logo{
	float: left;
	width: 127px;
}
.pagename{
	float: left;
	font-size: 20px;
	line-height: 60px;
	margin-left: 10px;
	color: #333;
}
.step{
	margin-right: 40px;
	margin-top: 30px;
	float: right;
}
.step-list{
	position: relative;
	float: left;
	width: 147px;
	text-align: center;
}
.step-list i{
	border: 2px solid #ddd;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	display: block;
	float: right;
}
.step-list p{
	position: absolute;
	width: 105px;
	left: 89px;
	top: 20px;
}
.step-list span{
	display: inline-block;
	width: 133px;
	margin-top: 6px;
	float: left;
	border-bottom: 2px solid #ddd;
}
.on i{
	border: 2px solid #459D36;
	color: #459D36;
}
.on span{
	border-bottom: 2px solid #459D36;
}
.order-func{
	margin-top: 30px;
}
.backgwc{
	color: #e61111;
	padding-left: 16px;
	margin-left: 20px;	
	background: url(../img/back.png) no-repeat left center;
}
.address{
	height: 30px;
	border-top: 1px solid #DDDDDD;
	margin-top: 30px;
	position: relative;
}
.address span{
	color: #333;
	padding: 5px;
	position: absolute;
	top: -15px;
/*	left: 20px;*/
}
.shouhuo{
	color: #333333;
	position: absolute;
	top: -15px;
	left: 20px;
	padding: 5px;
	float: left;
}
.xinzen{
	position: absolute;
	top: -15px;
	right: 20px;
	color: #333333;
	border: 1px solid #e7e7e7;
}
.adddizhi{
	cursor: pointer;
	color: #666666;
	right: 20px;
	background: #EEEEEE;
}
.adddizhi i{
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../img/cart-ico.png) no-repeat 0 -40px;
}
.address-list{
	margin-left: 25px;
	color: #666666;
}
.sli{
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
}
.sli span{
	height: 21px;
	line-height: 21px;
	border: 2px solid #28b810;
	cursor: pointer;
	padding: 0 20px;
	background: #FFF;
	position: relative;
}
.sli i{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 15px;
	height: 15px;
	display: inline-block;
}
.address-detail{
	float: left;
	line-height: 25px;
	color: #666666;
}
.default{
	width: 60px;
	height: 18px;
	line-height: 18px;
	margin-left: 5px;
	margin-top: 3px;
	background: #68ca33;
	float: left;
}
.address{
	height: 30px;
	margin-top: 30px;
	position: relative;
	border-top: 1px solid #DDDDDD;
}
.fangshi{
	left: 20px;
}
.pay-style{
	height: 35px;
	margin-left: 25px;
}
.pay-style span.current{
	height: 30px;
	line-height: 30px;
	border: 2px solid #28B810;
	padding: 0 19px;
	color: #666666;
	cursor: pointer;
	float: left;
	position: relative;
	margin-right: 10px;
}
.current i{
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/cart-ico.png) no-repeat 3px -1px;
}
font{
	float: left;
}
.bl-b{
	margin-top: 8px;
	margin-left: 5px;
	position: relative;
	cursor: pointer;
	float: left;
}
.ts{
	width: 253px;
	border: 1px solid #e5e3e8;
	position: absolute;
	left: -75px;
	top: 24px;
	z-index: 2;
	display: none;
	box-shadow: 0 1px 8px #e6e6e6;
	background: #fff;
}
.pay-style span{
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
	position: relative;
	float: left;
	border: 1px solid #ddd;
	cursor: pointer;
	margin-left:10px;
}
.send-style{
	/*margin-left: 25px;*/
}
.tip{
	margin-left: 25px;
	margin-top: 10px;
	color: #666;
}
.tip a{
	color: #ff6600;
	text-decoration: none;
}
.jiesuan{
	margin-bottom: 300px;
	margin-left: 25px;
}
.selwrap{
	width: 750px;
	float: left;
}
.selment{
	overflow: hidden;
}
.box{
	width: 190px;
	color: #666666;
	position: relative;
	float: left;
	margin-bottom: 15px;
}
.box .boxsp{
	width: 160px;
	height: 30px;
	display: block;
	position: relative;
	line-height: 30px;
	cursor: pointer;
	z-index: 1;
	padding-left: 20px;
	background: #fff;
	border: 1px solid #ddd;
}
.selimg{
	float: left;
	margin-bottom: 15px;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
}
.inp-text .text-in{
	width: 463px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	border: 1px solid #ddd;
	background: #FFF;
}
.submit-order{
	float: right;
	width: 424px;
	margin-top: 50px;
	bottom: 0;
	right: 0;
}
.p-wrap{
	width: 200px;
	margin:10px auto;
	height: 20px;
}
.p-wrap span{
	margin-left: 5px;
}
.order-go{
	width: 350px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px 0;
}
.order-go span{
	margin-top: 15px;
	font-size: 14px;
	color: #333;
}
.order-go span b{
	font-size: 20px;
	font-weight: bold;
	color: #e61111;
}
.order-go a{
	padding: 12px 55px;
	border-radius: 5px;
	color: #FFF;
	background: #459d36;
	font-weight: bold;
	font-size: 18px;
}
.order-go a:hover{
	background: #48b336;
}







































